* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
  }
  
  /* Set default font styles */
  html {
    font-size: 16px;
    scroll-behavior: smooth;
  }
  
  body {
     font-family: "Montserrat", sans-serif;
     background: url("/My-Porfolio/images/bgimg.svg") no-repeat center/cover  #000000;
     cursor: url('/My-Porfolio/images/cursor.svg'), auto;
 
   
/*     background-image: url(/images/bg-img.svg);
    background-repeat: no-repeat;
    background-size: cover; */
  
    margin: 0;
    padding: 0;
   
  }

 

/* NAVIGATION BAR */

nav a:hover ,nav h1:hover {
  color: #FFC916;
  cursor: url('/My-Porfolio/images/hand-pointer.svg'), auto;
}


nav ul li a , nav h1{
  position: relative;
  transition: color 0.3s ease;
  cursor: url('/My-Porfolio/images/hand-pointer.svg'), auto;
  
}
nav ul li a::after {
  content: '';
  position: absolute;
  left: 0;
  bottom: -4px;
  width: 0%;
  height: 2px;
  background-color: #FFC916;
  cursor: url('/My-Porfolio/images/hand-pointer.svg'), auto;
  transition: width 0.3s ease;
}
nav ul li a:hover::after, nav h1:hover::after {
  cursor: url('/My-Porfolio/images/hand-pointer.svg'), auto;
  width: 100%;}

/* BUTTON */
button{
  border: solid transparent 2px;
  
}
button:hover{
  color: #ffffff;
  cursor: url('/My-Porfolio/images/hand-pointer.svg'), auto;
  background-color: transparent;
  border: solid white 2px;
  
  
}

  