* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
  }
  
  /* Set default font styles */
  html {
    font-size: 16px;
    scroll-behavior: smooth;
  }
  
  body {
     font-family: "Montserrat", sans-serif;
     background: url("My-Porfolio/images/bgimg.svg") no-repeat center/cover  #000000;
 
   
/*     background-image: url(/images/bg-img.svg);
    background-repeat: no-repeat;
    background-size: cover; */
  
    margin: 0;
    padding: 0;
   
  }

 

/* NAVIGATION BAR */

nav{
  background-color: rgb(0, 0, 0);
}

  nav li:hover{
    color: #FFC916;
}

nav ul li a {
    position: relative;
    transition: color 0.3s ease;
    
  }
  nav ul li a::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: -4px;
    width: 0%;
    height: 2px;
    background-color: #FFC916;
   
    transition: width 0.3s ease;
  }
  nav ul li a:hover::after {
    
    width: 100%;
  }


/* HEADING */

  