/* NAVIGATION BAR */
nav a:hover,
nav h1:hover {
    color: #FFC916;
    cursor: url('/My-Porfolio/assets/images/hand-pointer.svg'), auto;
}

nav ul li a,
nav h1 {
    position: relative;
    transition: color 0.3s ease;
    cursor: url('/My-Porfolio/assets/images/hand-pointer.svg'), auto;
}

nav ul li a::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: -4px;
    width: 0%;
    height: 2px;
    background-color: #FFC916;
    transition: width 0.3s ease;
}

nav ul li a:hover::after,
nav h1:hover::after {
    width: 100%;
}

/* DOWNLOAD BUTTON */
.download-btn {
    padding: 18px 28px;
    background-color: #FFC916;
    color: black;
    text-decoration: none;
    border-radius: 8px;
    font-size: 14px;
    font-weight: 500;
    transition: background-color 0.3s ease, transform 0.3s ease;
    border: solid transparent 2px;
    display: inline-block;
    opacity: 0;
    /* Start hidden! Important */
    visibility: hidden;
    /* Start hidden! */
}

.download-btn:hover {
    background-color: transparent;
    color: white;
    border: solid white 2px;
    transform: scale(1.05);
}