* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
  }
  
  html {
    font-size: 16px;
    scroll-behavior: smooth;
  }
  
  body {
     font-family: "Montserrat", sans-serif;
     background: url("/My-Porfolio/assets/images/bgimg.svg") no-repeat center/cover  #000000;
     cursor: url('/My-Porfolio/assets/images/cursor.svg'), auto;
 

  
    margin: 0;
    padding: 0;
   
  }



/* NAVIGATION BAR */
nav a:hover,
nav h1:hover {
    color: #FFC916;
    cursor: url('/My-Porfolio/assets/images/hand-pointer.svg'), auto;
}

nav ul li a,
nav h1 {
    position: relative;
    transition: color 0.3s ease;
    cursor: url('/My-Porfolio/assets/images/hand-pointer.svg'), auto;
}

nav ul li a::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: -4px;
    width: 0%;
    height: 2px;
    background-color: #FFC916;
    transition: width 0.3s ease;
}

nav ul li a:hover::after,
nav h1:hover::after {
    width: 100%;
}

/* DOWNLOAD BUTTON */
.download-btn {
    border-radius: 8px;
    border: solid transparent 2px;
    display: inline-block;
    opacity: 0;
    visibility: hidden;
}

.download-btn:hover {
    background-color: transparent;
    color: white;
    border: solid white 2px;
    
}