*{
    box-sizing: border-box;
   
}
body{
    padding: 0;
    margin: 0;
     font-family: "Montserrat", sans-serif;
     /* background-image: url(/images/bg-img2.svg);
     background-repeat: no-repeat;
    background-size: cover;
    background-color: #000000; */
    background: url("/My-Porfolio/assets/images/bgimg2.svg") no-repeat center/cover  #000000;
    cursor: url('/My-Porfolio/assets/images/cursor.svg'), auto;
    }

html {
  scroll-behavior: smooth;
}



nav a:hover, button:hover ,nav h1:hover {
    color: #FFC916;
    cursor: url('/My-Porfolio/assets/images/hand-pointer.svg'), auto;
}


nav ul li a , nav h1{
    position: relative;
    transition: color 0.3s ease;
    cursor: url('/My-Porfolio/assets/images/hand-pointer.svg'), auto;
    
  }
  nav ul li a::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: -4px;
    width: 0%;
    height: 2px;
    background-color: #FFC916;
    cursor: url('/My-Porfolio/assets/images/hand-pointer.svg'), auto;
    transition: width 0.3s ease;
  }
  nav ul li a:hover::after, nav h1:hover::after {
    cursor: url('/My-Porfolio/assets/images/hand-pointer.svg'), auto;
    width: 100%;}

/* BUTTON */

button{
  border: solid transparent 2px;
  
}
button:hover{
  color: #ffffff;
  cursor: url('/My-Porfolio/assets/images/hand-pointer.svg'), auto;
  background-color: transparent;
  border: solid white 2px;
  
  
}
